/Extended Attributes/ReadExample/.vs
/Extended Attributes/ReadExample/packages
/Extended Attributes/ReadExample/ReadExample/bin
/Extended Attributes/ReadExample/ReadExample/obj
/Extended Attributes/WriteExample/.vs
/Extended Attributes/WriteExample/packages
/Extended Attributes/WriteExample/WriteExample/bin
/Extended Attributes/WriteExample/WriteExample/obj
